<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All tests">
<!--    <test name="Regression">-->
    <test name="TestNG">
    <packages>
        <package name="test_ng"></package>
    </packages>
<!--        <groups>-->
<!--            <define name="smoke"></define>-->
<!--            <define name="regression"></define>-->
<!--&lt;!&ndash;        </groups>&ndash;&gt;-->
    </test> <!-- Test -->
</suite> <!-- Suite -->
<!--<suite name="All tests">-->
<!--    &lt;!&ndash;    <test name="Regression">&ndash;&gt;-->
<!--    <test name="TestNG">-->
<!--        <packages>-->
<!--            <package name="cucumber. CucumberTestRunner"></package>-->
<!--        </packages>-->
<!--        &lt;!&ndash;        <groups>&ndash;&gt;-->
<!--        &lt;!&ndash;            <define name="smoke"></define>&ndash;&gt;-->
<!--        &lt;!&ndash;            <define name="regression"></define>&ndash;&gt;-->
<!--        &lt;!&ndash;&lt;!&ndash;        </groups>&ndash;&gt;&ndash;&gt;-->
<!--    </test> &lt;!&ndash; Test &ndash;&gt;-->
<!--</suite> &lt;!&ndash; Suite &ndash;&gt;-->